 :root {
    --Primary:#413936;
    --secondary:rgb(22, 66, 242);
    --font-size:20px
 }
.nav{   
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav-links {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}
.nav-links a{
    text-decoration: none;
    color: var(--Primary);
    font-size: var(--font-size);

}
.nav-links .active {
    color: var(--secondary);
}
.nested-route{
    display: flex;
    gap: 20px;
}
.nested-route a{
    text-decoration: none;
    color: var(--Primary);
    font-size: var(--font-size);
}
.nested-route .active{
    color: var(--secondary);

}